


:root {
    --color-dark-red: #A00E2B;
    --color-white: #FFF;
    --color-pink-red: #CC1A69;
    --color-hot-pink: #F55394;
    --color-black: #000;
    --color-plum: #961951;
    
    --bg-main: var(--color-black);
    --text-main: var(--color-white);
    
    --primary-gradient: linear-gradient(135deg, var(--color-dark-red), var(--color-pink-red));
    --accent-gradient: linear-gradient(135deg, var(--color-pink-red), var(--color-hot-pink));
    
    --card-bg: rgba(255, 255, 255, 0.03);
    --card-border: rgba(255, 255, 255, 0.1);
    --glass-blur: blur(20px);
    
    --radius-lg: 30px;
    --radius-md: 20px;
    --radius-btn: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
    -webkit-tap-highlight-color: transparent;
}

html {
    height: 100%;
     
}

body {
    font-family: 'Outfit', sans-serif;
     
    background-color: transparent; 
    color: var(--text-main);
    overflow-x: hidden;
    line-height: 1.6;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;

     
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;          
}



input, textarea {
    -webkit-user-select: text !important;
    user-select: text !important;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

ul {
    list-style: none;
}


:root {
    --color-dark-red: #A00E2B;
    --color-white: #FFF;
    --color-pink-red: #CC1A69;
    --color-hot-pink: #F55394;
    --color-black: #000;
    --color-plum: #961951;
    
    --bg-main: var(--color-black);
    --text-main: var(--color-white);
    
    --primary-gradient: linear-gradient(135deg, var(--color-dark-red), var(--color-pink-red));
    --accent-gradient: linear-gradient(135deg, var(--color-pink-red), var(--color-hot-pink));
    
    --card-bg: rgba(255, 255, 255, 0.03);
    --card-border: rgba(255, 255, 255, 0.1);
    --glass-blur: blur(20px);
    
    --radius-lg: 30px;
    --radius-md: 20px;
    --radius-btn: 50px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     
    -webkit-tap-highlight-color: transparent;
}





html {
    height: 100%;
    

    background-color: var(--color-black); 
    
     
    overscroll-behavior: none;
}

body {
    font-family: 'Outfit', sans-serif;
    
     
    background-color: transparent; 
    
    color: var(--text-main);
    overflow-x: hidden;
    line-height: 1.6;
    
     
    min-height: 100vh;
    
    display: flex;
    flex-direction: column;
    margin: 0;
    position: relative;

     
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



input, textarea {
    -webkit-user-select: text !important;
    user-select: text !important;
}

h1, h2, h3, h4 {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
}

ul {
    list-style: none;
}